/* all site settings*/
body {
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Lineup of Wrappers */
.wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.wrapperM {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.wrapperL {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.wrapperXL{
  padding-top: 8rem;
  /*padding-bottom: 5em;*/
}
.wrapperXXL{
  padding-top: 40vh;
  /*padding-bottom: 8em;*/
}

/* typography */
.lineHeight {
  line-height: 1.5;
}
.linkTextDeco {
  color:white;
  cursor: pointer;
}
.linkTextDeco:hover {
  color:#d3d3d3;
  cursor: pointer;
}
.linkTextDarkBlue {
  color:#126082;
  cursor: pointer;
}
.linkTextDarkBlue:hover {
  color:#31ade3;
  cursor: pointer;
}
.linkTextDecoDark {
  color:black;
  cursor: pointer;
}
.linkTextDecoDark:hover {
  color:#8D2143;
  cursor: pointer;
}
.btn-rounded {
  border-radius: 100px;
}

.text-hardRed {
  color: #e84c31;
}

/* layout */
.bg-softRed {
  background-color: #f0b0b2;
}
.bg-pink {
  background-color: #fff8f7;
}
.bg-hardRed {
  background-color: #EA4225;
}
.bg-darkGreen {
  background-color: #006F5E;
}
.bg-darkBlue {
  background-color: #30587C;
}
.bg-yellow {
  background-color: #EEA21B;
}


/* responsive */
@media (max-width: 460px) {

}
@media (max-width: 640px) {

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* EFFECTS */
/* hover effect */
.hoverLarge {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hoverLarge:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

/* over ride */
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
