/* all site settings*/
body {
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.li-to-left {
  margin-left: -1.5rem;
}

/* Lineup of Wrappers */
.wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.wrapperM {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.wrapperL {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.wrapperXL{
  padding-top: 8rem;
  /*padding-bottom: 5em;*/
}
.wrapperXXL{
  padding-top: 40vh;
  /*padding-bottom: 8em;*/
}

/* typography */
.text-shadow {
  text-shadow: 2px 2px 0 black, 4px 4px 0 black;
}
.drop-shadow {
  -webkit-filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.5))
}
.lineHeight {
  line-height: 1.5;
}
.linkTextDeco {
  color:white;
  cursor: pointer;
}
.linkTextDeco:hover {
  color:#d3d3d3;
  cursor: pointer;
}
.linkTextDarkBlue {
  color:#126082;
  cursor: pointer;
}
.linkTextDarkBlue:hover {
  color:#31ade3;
  cursor: pointer;
}
.linkTextDecoDark {
  color:black;
  cursor: pointer;
}
.linkTextDecoDark:hover {
  color:#8D2143;
  cursor: pointer;
}


/* layout */
#heroMobile {
  background-image: url("https://ixpanel.github.io/biotope/img/hero.png");
  background-position: right center;
  background-size: 155vw;
  background-repeat: no-repeat;
}
.bg-darkBlue {
  background-color: #126082;
}
.bg-paleCyan {
  background-color: #effffc;
}
.bg-grayishBlue {
  background-color: #ccebf6;
}
.bg-softRed {
  background-color: #f0b0b2;
}
.text-darkBlue {
  color: #126082;
}
.text-orange {
  color: #FE594E;
}
.border-orange {
  border-bottom: 1px solid #FE594E;
}
hr.orange {
  border: 0;
  height: 1px;
  width: 70vw;
  background: #FE594E;
}

.overlay {
  position: fixed;
  top: 68vh;
  right: 0;
  bottom: 0;
  z-index: 1050;
}

.overlayM {
  position: fixed;
  top: 45vh;
  right: 0;
  bottom: 0;
  z-index: 1050;
}
.logoType {
  position: absolute;
  top: 7vh;
  right: 0;
  left: 3vw;
  bottom: 0;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* responsive */
@media (max-width: 460px) {

}
@media (max-width: 640px) {

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* EFFECTS */
/* hover effect */
.hoverLarge {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hoverLarge:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

/* over ride */
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
